/* Global Styles */
*{
margin: 0;
padding: 0;
font-family: "Inter", sans-serif;
}

.container{
    max-width: 1600;
    margin: auto;
}

/* Header Section Style */
header{
    padding: 16px 120px;
}

/* Navigation Bar Style */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu-parent{
    display: flex;
    list-style: none;
    gap: 32px;
}
.menu-parent a{
    text-decoration: none;
    color: #000;
    font-size: 16px;
    font-weight: 500;
}

.nav-btn{
    background-color: #30B868;
    padding: 12px 16px;
    border: 4px solid white;
    border-radius: 6px;
    color: white;
    font-size: 16px;
    font-weight: 600;
}
/* Header Section style End */



