/* Global Styles */
*{
margin: 0;
padding: 0;
font-family: "Inter", sans-serif;
}

body{
    background-color: #fbfbfb
}

#header-section{
    padding: 16px 0px;  
}


/* Navigation Bar Style */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 120px;
}
.menu-parent{
    display: flex;
    list-style: none;
    gap: 32px;
}
.menu-parent a{
    text-decoration: none;
    color: #000;
    font-size: 16px;
    font-weight: 500;
}

.nav-btn{
    background-color: #30B868;
    padding: 12px 16px;
    border: 4px solid #fbfbfb;
    border-radius: 6px;
    color: white;
    font-size: 16px;
    font-weight: 600;
}
.nav-btn:hover{
    background-color: #000100;
    padding: 12px 16px;
    border: 4px solid #fbfbfb;
    border-radius: 6px;
    color: white;
    font-size: 16px;
    font-weight: 600;
}
/* Header Section style End */



/* Hero Section Style Start */
.hero-section{
    display: flex;
    flex-direction: column;
    max-width: 1350px;
    height: 674px;
     background-image:linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("./assets/hero-bg.png");
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;
}

.access-btn{
    display: flex;
    background: rgba(255, 255, 255, 1);
    padding: 8px 12px;
    gap: 6px;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    margin-bottom: 16px;
    color: #30B868;
    font-size: 16px;
    font-weight: 500;
}

.access-btn:hover{
    display: flex;
    background: #30B868;
    padding: 8px 12px;
    gap: 6px;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    margin-bottom: 16px;
    color: #ffff;
    font-size: 16px;
    font-weight: 500;
}

.hero-section h1{
    text-transform: capitalize;
    font-size: 72px;
    font-weight: 700;
    color: white;
    text-align: center;
    line-height: 84px;
    margin-bottom: 16px;
    
}
.heading-color{
    color: rgba(48, 184, 104, 1);
}

.hero-section p{
    color: white;
    font-size: 18px;
    font-weight: 400;
    line-height: 34px;
    text-align: center;
}

.hero-section div{
    margin-top: 32px;
    display: flex;
    align-items: center;
    gap: 32;
}
.start-building-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #30B868;
    gap: 10px;
    padding: 12px 16px;
    border: 0px solid white;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 600;
    color: white;
    margin-right: 16px;
}

.start-building-btn:hover{
    background-color: #03200f;
    color: white;
}

.see-how-btn{
    box-sizing: border-box;
    display: flex;
    justify-items: center;
    align-items: center;
    gap: 10px;
    padding: 12px 16px;
    border: 1px solid white;
    border-radius: 4px;
    background: transparent;
    font-size: 16px;
    font-weight: 600;
    color: white;
}

.see-how-btn:hover{
    background-color: black;
    color: white;
}
 /* Hero Section Style End */ 
 
 .featured{
    display: flex;
    flex-direction: column;
    padding: 120px 0px 0px 0px;
    justify-content: start;
    align-items: center;
 }

 .featured-heading h1{
    color: #001931;
    font-size: 45px;
    font-weight: 700;
    line-height: 58px;
    text-align: center;
    text-transform: capitalize;
 }

 .featured-heading p{
    color: #627382;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    margin-top: 16px;
 }

 /* card style */
 .card-parent-container{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 44px;
    gap: 24px;
    max-width: 1200px;
    
 }
 .Child-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    padding: 24px 24px;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 8px;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.06); 
    max-width: 322px;
    max-height: 300px;
    
    
 }

 .Child-card img{
    background-color: rgba(249, 85, 85, 1);
    padding: 20px;
    border-radius: 50%;
    margin-bottom: 10px;
 }
 .Child-card h3{
    font-size: 20px;
    font-weight: 600;
    margin-top: 10px;
    text-transform: capitalize;
    align-items: center;
    justify-content: center;
    text-align: center;
 }

 .Child-card p{
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;

 }
.card-1 {
    height: 210px;
}

/* about section start */
#about-container{
    background-color: white;
    padding: 120px 80px ;
    position: relative;
    top: -25px;
    z-index: 2;
    margin: 0px 0px;


}
.parent-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
}
.left-container{
    border-radius: 12px;
    padding: 5px;
}

.right-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 5px;
}

.right-container h5{
    text-transform: uppercase;
    color: #30B868;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    margin-bottom: 16px;
}
.right-container h2{
    color: #001931;
    font-size: 48px;
    font-weight: 700;
    line-height: 50px;
    margin-bottom: 16px;
}
.right-container p{
    color: #627382;
    font-size: 16px;
    text-align: left;
    margin-bottom: 40px;
}

.right-container li{
    list-style: none;
    display: flex;
    gap: 10px;
    margin: 5px;
}

/* CTA section Style */
.cta-section{
    padding: 10px 124px 124px 124px;
    background-color: white;
    position: relative;
    margin: -30px;
}

#parent-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(247, 246, 242, 1);
    padding: 80px 40px 80px 40px;
    gap: 16px;
}

#parent-container h1{
    color: rgba(0, 25, 49, 1);
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    text-transform: capitalize;

}

#parent-container p{
    color: #627382;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
}

#parent-container button{
    display: flex;
    background-color: #30B868;
    color: rgba(255, 255, 255, 1);
    padding: 12px 16px;
    justify-content: center;
    gap: 10px;
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: 1px solid #30B868;
    margin-top: 10px;

}

#parent-container button:hover{
    background-color: black;
    color: white;
}
#parent-container .short-text{
    color: #627382;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
}


/* footer section style */
#footer-section{
    padding: 120px 120px 30px 120px;
    background-color: rgba(0, 25, 49, 1);
}

.social-container{
    display: flex;
    justify-content: space-between;
    margin-bottom: 80px;
}


.icon h3{
    color:  rgba(255, 255, 255, 1);
    font: 20px;
    font-weight: 500;
    margin: 5px;
    text-align: center;
}

.icon img{
    align-items: center;
    margin: 5px;

}

.footer-container p{
    color: rgba(250, 250, 250, 1);
    text-align: center;
    justify-content: end;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    padding-top: 30px;
}

.footer-container hr{
    display: flex;
    justify-content: flex-end;
}